.content--cityweb-stayConnected {
  padding-top: 10vh;
  font-size: 5vw;

  p {
    padding: 2vh 0;
    text-align: center;
  }

  .social-icon {
    padding: 30px;
    height: 20vh;
  }


  .nowrap {
    white-space: nowrap;
  }
}
